* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #181818;
}

nav {
    background-color: #202020;
    height: 70px;
    width: auto;
}

nav.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

nav .menu,
nav .youtube {
    vertical-align: middle;
    margin-left: 20px;
    background-color: #202020;
}

form {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
    height: 30px;
    margin-left: 15%;
    border: solid 0.7px #3b3b3b;
}

form .search {
    padding-left: 2%;
    height: 100%;
    width: 88%;
    float: left;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #181818;
}

form .search-btn {
    float: left;
    width: 10%;
    height: 100%;
    color: #4b4b4b;
    background-color: #313131;
    font-size: 17px;
    border: none;
    border-left: solid 0.7px #3b3b3b;
    cursor: pointer;
}

form .search-btn i {
    background-color: #313131;
}

form .search-btn:hover {
    color: #585858;
}

.icon-container {
    vertical-align: middle;
    display: inline-block;
    margin-left: 18%;
}

.icon {
    margin-right: 20px;
    vertical-align: middle;
}

.body {
    margin: 2%;
    float: left;
    width: 720px;
    height: 1000px;
}

.video {
    color: #909090;
    width: auto;
    height: 580px;
    font-size: 14px;
}

.info {
    height: 200px;
    border-top: 0.5px #5e5e5e solid;
    border-bottom: 0.5px #5e5e5e solid;
}

.video h2 {
    font-weight: 500;
    margin-top: 2%;
    color: white;
}

.video p {
    display: inline;
}

.video .video-btns {
    float: right;
}

.video-btn {
    margin: 5px;
}

.info {
    color: #909090;
    padding: 10px 0;
}

.info p,
h5 {
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.comments {
    background: purple;
    height: inherit;
    width: inherit;
}

.suggested {
    margin: 2% auto;
    background: green;
    height: 1220px;
    width: 300px;
    float: left;
}